
<ion-header>
<ion-navbar>
  <ion-title>项目详情</ion-title>
  <ion-buttons end>
			<button ion-button icon-only [disabled]="!platform.is('cordova')" (click)="share()">
			<ion-icon isActive="false" name="share" ></ion-icon>
			</button>
		</ion-buttons>
 
</ion-navbar>



  <ion-toolbar [attr.primary]="isAndroid ? '' : null">
    <ion-segment [(ngModel)]="section" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button value="summary">
        简介
      </ion-segment-button>
      <ion-segment-button value="point">
        详情
      </ion-segment-button>
     
      <ion-segment-button value="layout">
        布局
      </ion-segment-button>
      <ion-segment-button value="amenities">
        周边
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>



<ion-content padding class="project-detail">

 <ion-fab right bottom style="opacity:0.8;">
    <button ion-fab (click)="nav.pop()"><ion-icon name="undo"></ion-icon></button>
 </ion-fab>

  <h4 text-center > {{project.name}}</h4>

  <div class="spacer" style="width: 284.545px; height: 17.9886px;"></div>
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'summary'">
      <h4>城 市：{{project.cityname}}</h4>
      <h4>开发商：{{project.developer_intro}}</h4>
      <p> {{project.summary}} </p>
      
      <ion-slides class="swiper-container"  pager>
        <ion-slide *ngFor="let image of converto2a(project.image_list)">
          <img [src]="smallImg(image.file)" class="slide-image" />
        </ion-slide>
      </ion-slides>
    

    </div>

   
    <div *ngSwitchCase="'point'">
      <p>{{project.point}}</p>
    </div>

    <div *ngSwitchCase="'layout'">
      <ion-slides  class="swiper-container" pager>
        <ion-slide *ngFor="let image of converto2a(project.layout_list)">
          <img [src]="smallImg(image.file)" class="slide-image" />
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngSwitchCase="'amenities'">
      <p> {{project.amenities}} </p>
    </div>
  </div>
</ion-content>
<ion-footer>


</ion-footer> 