<!--
  Generated template for the ProjectDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
  <ion-title>项目详情</ion-title>
  <ion-buttons end>
  <button  (click)="share()">
  <ion-icon isActive="false" name="share" ></ion-icon>
  </button>
  </ion-buttons>
   <!--<ion-buttons end>
  <button  (click)="share2()">
  <ion-icon isActive="false" name="home" ></ion-icon>
  </button>
  </ion-buttons>-->
</ion-navbar>
</ion-header>



<ion-content padding class="project-detail">

  <h4 text-center > {{project.name}}</h4>


  <ion-toolbar [attr.primary]="isAndroid ? '' : null">
    <ion-segment [(ngModel)]="section" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button value="summary">
        简介
      </ion-segment-button>
      <ion-segment-button value="point">
        详情
      </ion-segment-button>
     
      <ion-segment-button value="layout">
        布局
      </ion-segment-button>
      <ion-segment-button value="amenities">
        周边
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="spacer" style="width: 284.545px; height: 17.9886px;"></div>
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'summary'">
      <h4>城 市：{{project.cityname}}</h4>
      <h4>开发商：{{project.developer_intro}}</h4>
      <p> {{project.summary}} </p>
      
      <ion-slides [options]="swiperOptions" class="swiper-container">
        <ion-slide *ngFor="let image of converto2a(project.image_list)">
          <img [src]="smallImg(image.file)" class="slide-image" />
        </ion-slide>
      </ion-slides>
    

    </div>

   
    <div *ngSwitchCase="'point'">
      <p>{{project.point}}</p>
    </div>

    <div *ngSwitchCase="'layout'">
      <ion-slides [options]="swiperOptions" class="swiper-container">
        <ion-slide *ngFor="let image of converto2a(project.layout_list)">
          <img [src]="smallImg(image.file)" class="slide-image" />
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngSwitchCase="'amenities'">
      <p> {{project.amenities}} </p>
    </div>
  </div>
</ion-content>