<!--<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="openModal()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
   </button>
    </ion-buttons>
   
    <ion-searchbar primary  [(ngModel)]="queryText" (ionInput)="getItems($event)" 
    [placeholder]="(mapType == 0)?'城市/地址/MLS#':'城市/学校'"></ion-searchbar>
  
  
    <ion-buttons end>
      <button [disabled]="locateLock" (click)="setCenter(true)">
        <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<ion-content class="map-search">
  <div class="search_list" *ngIf="currentDiv == 'searchlist'">
    <ion-item tappable padding *ngFor="let item of cityItems" (click)="itemTapped(item,1)">
      <button light clear> <ion-icon color="primary" padding-right name="search"></ion-icon><span padding-left>{{ item.value }}</span></button>
      <ion-badge item-right>城市</ion-badge>
    </ion-item>
    <ion-item tappable padding *ngFor="let item of mlsItems" (click)="itemTapped(item,2)">
      <button light clear><ion-icon color="primary" padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>{{item.price}}</ion-badge>
    </ion-item>
    <ion-item tappable padding *ngFor="let item of addressItems" (click)="itemTapped(item,2)">
      <button light clear><ion-icon color="primary" padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>{{item.price}}</ion-badge>
    </ion-item>
    <ion-item tappable padding *ngFor="let item of schoolItems" (click)="itemTapped(item,1)">
      <button light clear><ion-icon color="primary" padding-right name="search"></ion-icon><span padding-left>{{ item.school }}</span></button>
      <ion-badge item-right>排名:{{item.paiming}}</ion-badge>
    </ion-item>
  </div>



  <div #map id="map"></div>

  <!--
  <ion-fab>
    <button ion-button fab fab-bottom fab-center (click)="openList($event)">
      <ion-icon name="list" ></ion-icon>
  </button>
  </ion-fab>

  <ion-fab>
    <button ion-button fab fab-bottom fab-left (click)="openModal()">
      <ion-icon ios="ios-options-outline" md="md-options" ></ion-icon>
    </button>
  </ion-fab>

  <ion-fab>
    <button ion-button fab fab-bottom fab-right (click)="setCenter(true)">
      <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
    </button>
  </ion-fab>-->

  <ion-fab center bottom >
    <button ion-fab (click)="openList($event)"><ion-icon name="list"></ion-icon></button>
   
  </ion-fab>

 <ion-fab left bottom >
    <button ion-fab (click)="openModal()"><ion-icon ios="ios-options-outline" md="md-options"></ion-icon></button>
 </ion-fab>

 <ion-fab right bottom >
    <button ion-fab (click)="setCenter(true)"><ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon></button>
 </ion-fab>
 


</ion-content>
<!--<ion-footer>
  
  <div style="opacity:0.8;">
   
    <button  ion-button fab fab-bottom fab-center (click)="openList($event)">
      <ion-icon name="list" ></ion-icon>
    </button>
    <button  ion-button fab fab-bottom fab-left (click)="openModal()">
      <ion-icon ios="ios-options-outline" md="md-options" ></ion-icon>
    </button>
    <button  ion-button fab fab-bottom fab-right  (click)="setCenter(true)">
      <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
    </button>
   
    

  </div>
</ion-footer>-->