<ion-header>
<ion-toolbar>

    
     <ion-buttons left>
        <button ion-button  (click)="saveSelections()"> 保存条件</button>
    </ion-buttons>
      <ion-buttons left *ngIf="auth.authenticated()">
        <button ion-button  (click)="getMySelections()"> 我的条件</button>
    </ion-buttons>
    
    <!--<ion-title>搜索条件</ion-title>-->
    <ion-buttons right>
        <button ion-button (click)="resetSelections()">缺省</button>
    </ion-buttons>
    <ion-buttons right>
        <button ion-button (click)="dismiss()">确认</button>
    </ion-buttons>

</ion-toolbar>
</ion-header>




<ion-content class="map-option-modal">
  
    <search *ngIf="searchFlag" mapType="0" (searchInput)="searchSelection($event)" [inputText]="inputText"></search>
  

    <ion-row>
        <ion-col>
            <ion-item no-lines>
                <ion-label>{{(selectOptions?.selectSR == true)? '出售':'出租'}}</ion-label>
                <ion-toggle [(ngModel)]="selectOptions.selectSR"></ion-toggle>
            </ion-item>
        </ion-col>

        <ion-col>
            <ion-item no-lines>
                <ion-label>单位({{(selectUnit == true)? '米':'尺'}})</ion-label>
                <ion-toggle (ionChange)="onChange($event)" [(ngModel)]="selectUnit"></ion-toggle>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-item>
            <ion-label>物业类型</ion-label>
            <ion-select multiple [(ngModel)]="selectOptions.selectType" okText="确认" cancelText="取消">
                <ion-option value="1">独栋别墅</ion-option>
                <ion-option value="2">联排别墅</ion-option>
                <ion-option value="3">豪华公寓</ion-option>
                <ion-option value="4">半独立</ion-option>
                <ion-option value="5">度假屋</ion-option>
                <ion-option value="6">农场</ion-option>
                <ion-option value="7">空地</ion-option>
                <ion-option value="8">其他</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list no-lines>
        <ion-range class='range-p' min="0" max="6" step="1" snaps='true' [(ngModel)]="selectOptions.selectBeds">
            <ion-label class='range-label' range-left>卧室</ion-label>
            <ion-badge range-right>{{ (selectOptions.selectBeds > 0)? "至少" + selectOptions.selectBeds +"间" : "不限" }}</ion-badge>

        </ion-range>


        <ion-range class='range-p' min="0" max="6" step="1" snaps='true' [(ngModel)]="selectOptions.selectBaths">
            <ion-label class='range-label' range-left> 洗手间</ion-label>
            <ion-badge range-right>{{ (selectOptions.selectBaths > 0)? "至少" + selectOptions.selectBaths +"间" : "不限" }}</ion-badge>
        </ion-range>
        <ion-range class='range-p' min="0" max="30" step="1" [(ngModel)]="selectOptions.selectDate">
            <ion-label class='range-label' range-left> 上市</ion-label>
            <ion-badge range-right>{{ (selectOptions.selectDate > 0)? "最近" + selectOptions.selectDate +"天" : "不限" }}</ion-badge>
        </ion-range>

    </ion-list>
    <ion-list no-lines>
        <ion-item>
            价格{{(selectOptions.selectSR == false)? "(/月)":"(万)"}}
            <ion-badge item-right>{{selectOptions.selectPrice.lower}}-{{(selectOptions.selectPrice.upper == 500)? "不限" : selectOptions.selectPrice.upper}}</ion-badge>
        </ion-item>
        <ion-range class='range-s' dualKnobs="true" min="0" [max]="(selectOptions?.selectSR == false)?8000:500" [step]="(selectOptions?.selectSR == false)?100:1" [(ngModel)]="selectOptions.selectPrice">
        </ion-range>

        <ion-item>
            房屋面积({{(selectUnit == true)? '平方米':'平方尺'}})
            <ion-badge item-right>{{selectOptions.selectHousesize.lower / unit}}-{{(selectOptions.selectHousesize.upper == 4000)? "不限" :selectOptions.selectHousesize.upper
                / unit }}</ion-badge>
        </ion-item>
        <ion-range class='range-s' dualKnobs="true" min="0" max="4000" step="100" [(ngModel)]="selectOptions.selectHousesize">
        </ion-range>


        <ion-item no-lines>
            土地面积({{(selectUnit == true)? '平方米':'平方尺'}})
            <ion-badge item-right>{{selectOptions.selectLandsize.lower /unit}}-{{(selectOptions.selectLandsize.upper == 43560)? "不限" :selectOptions.selectLandsize.upper
                /unit}}
            </ion-badge>
        </ion-item>
        <ion-range class='range-s' dualKnobs="true" min="0" max="43560" step="1000" [(ngModel)]="selectOptions.selectLandsize">
        </ion-range>
            <ion-item no-lines>
                <ion-label>房屋开放日</ion-label>
                <ion-toggle  [(ngModel)]="selectOptions.selectOH"> </ion-toggle>
            </ion-item>
      
    </ion-list>


</ion-content>