// http://ionicframework.com/docs/v2/theming/

// App Shared Sass
// --------------------------------------------------
// CSS that should apply to the app for every mode


// App Shared Imports
// --------------------------------------------------
// These are the various page imports which make up this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/about/about";
@import "../pages/home/home";
@import "../pages/post/post";
@import "../pages/stats/stats";
@import "../pages/map-search/map-search";
@import "../pages/school-map/school-map";
@import "../pages/projects/projects";
@import "../pages/project-detail/project-detail";
@import "../pages/house-detail/house-detail.scss";
@import "../pages/houselist-search/houselist-search.scss";


@import "../pages/account/account";

@import "../pages/login/login";

// @import "../pages/schedule/schedule";

// @import "../pages/schedule-filter/schedule-filter";

// @import "../pages/speaker-detail/speaker-detail";

// @import "../pages/speaker-list/speaker-list";

// @import "../pages/tutorial/tutorial";
