<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>其他功能</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content padding>

  <div padding *ngIf="!auth.authenticated()">
    <button ion-button block (click)="auth.login()">登录</button>
  </div>

  <div *ngIf="auth.authenticated()">

    <ion-card tappable (click)="auth.logout()">

      <ion-item *ngIf="auth.user">
        <ion-avatar item-left>
          <img src="{{ auth.user.picture }}">
        </ion-avatar>
        <h2>{{ auth.user.nickname }}</h2>
        <p>{{ auth.user.email }}</p>
        <ion-icon primary name="log-out" item-right></ion-icon>
      </ion-item>

    </ion-card>


    <ion-item-group>
      <ion-item-divider divider>收藏</ion-item-divider>
      <ion-list>
        <a ion-item (click)="favorite('houseFav')">
          <ion-icon color="primary" name="home" item-left></ion-icon>我的房源
          <ion-badge item-right>{{count?.houseFav}}</ion-badge>
        </a>
        <a ion-item (click)="favorite('routeFav')">
          <ion-icon color="primary" name="compass" item-left></ion-icon>看房列表
          <ion-badge item-right>{{count?.routeFav}}</ion-badge>
        </a>
        <a ion-item (click)="favorite('recentView')">
          <ion-icon color="primary" name="eye" item-left></ion-icon>最近浏览
          <ion-badge item-right>{{count?.recentView}}</ion-badge>
        </a>
      </ion-list>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider divider>设置</ion-item-divider>
      <ion-list>
        <a ion-item (click)="searchDefault(0)">
          <ion-icon color="primary" name="home" item-left></ion-icon>房源搜索条件</a>
        <a ion-item (click)="searchDefault(1)">
          <ion-icon color="primary" name="school" item-left></ion-icon>学校搜索条件</a>
        <a ion-item (click)="myCenter('myCenter')">
          <ion-icon color="primary" name="locate" item-left></ion-icon>关注城市
          <ion-badge item-right>{{count?.myCenter}}</ion-badge>
        </a>
        <a ion-item (click)="myCenter('recentCenter')">
          <ion-icon color="primary" name="locate" item-left></ion-icon>最近搜索位置
          <ion-badge item-right>{{count?.recentCenter}}</ion-badge>
        </a>
      <ion-item>
          <ion-icon color="primary" name="notifications" item-left></ion-icon><ion-label>房源通知</ion-label>
          <ion-toggle item-right [(ngModel)]="notificationFlag" (ionChange)="changeEmailFlag($event)"></ion-toggle>
          
      </ion-item>
        <ion-item>
         
          <ion-icon color="primary" name="image" *ngIf="!viewFlag" item-left></ion-icon>
          <ion-icon color="primary" name="list" *ngIf="viewFlag" item-left></ion-icon> <ion-label> 列表方式</ion-label>

          <ion-toggle [(ngModel)]="viewFlag" (ionChange)="changeViewFlag($event)"></ion-toggle>
         
        </ion-item>

      </ion-list>
    </ion-item-group>
    <ion-list>
      <a ion-item (click)="auth.logout()">
        <ion-icon color='primary' name="log-out" item-left></ion-icon>退出登录</a>
    </ion-list>

  </div>
  <ion-item-group>
    <ion-list>
      <a ion-item (click)="aboutUs()">
        <ion-icon color="primary" name="information-circle" item-left></ion-icon>关于我们</a>
      <a ion-item (click)="help()">
        <ion-icon color="primary" name="help" item-left></ion-icon>帮助与反馈(版本{{mapleConf.localVersion}}）</a>

    </ion-list>

  </ion-item-group>

</ion-content>