<ion-header>
  <ion-navbar no-border-bottom>
    <!--<ion-buttons left>
   
      <img src="img/icon.png">
 
     </ion-buttons>-->
    <!--<ion-title>枫之都</ion-title>-->

    <search mapType='0' (searchInput)="searchSelection($event)" inputText=''></search>

  </ion-navbar>
  <ion-toolbar [attr.primary]="isAndroid ? '' : null">
    <ion-segment [(ngModel)]="homeSegment">
      <!--<ion-segment-button value="info">信息</ion-segment-button>-->
      <ion-segment-button value="house1" (ionSelect)="searchHouse('nearby')">周边</ion-segment-button>
      <ion-segment-button value="house2" (ionSelect)="searchHouse('recommend')">推荐</ion-segment-button>
      <!--<ion-segment-button value="house3" (ionSelect)="fav()">收藏</ion-segment-button>-->
      <ion-segment-button value='projects' (ionSelect)="getProjects()">项目</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <!--<ion-fab right bottom style="opacity:0.8;">
    <button ion-fab (click)="refresh()"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>-->

  <!--  
  <ion-slides [options]="projectSwiperOptions" class="swiper-container">
    <ion-slide *ngFor="let project of projects">
      <img tappable [src]="project.room_type_image" (click)="goToProject(project.id)" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="project.name"></h2>

    </ion-slide>
  </ion-slides>-->

  <div [ngSwitch]="homeSegment">
    <div *ngSwitchCase="'info'">
      <ion-list>
        <a ion-item tappable *ngFor="let post of post1" (click)="goToPost(post.id)"> {{post?.title}} </a>
      </ion-list>
    </div>
    <div *ngSwitchCase="'house1'">
      <house-list [houselist]='nearbyHouseList' [imgHost]='imgHost' [fav]='listHouse' [isList]='true'></house-list>
    </div>


    <div *ngSwitchCase="'house2'">
      <house-list [houselist]='nearbyHouseList' [imgHost]='imgHost' [fav]='listHouse' [isList]='true'></house-list>
    </div>

    <div *ngSwitchCase="'house3'">
      <house-list [houselist]='favList' [imgHost]='imgHost' [fav]='listFav' [isList]='true'></house-list>
    </div>

    <div *ngSwitchCase="'projects'" class="projects">

      <ion-card *ngFor="let project of projects">
        <ion-list-header>
          {{project.name}}
        </ion-list-header>
        <img tappable [src]="project.room_type_image" (click)="goToProject(project.id)" />

        <div class="card-subtitle">城市：{{project.cityname}}</div>
      </ion-card>

    </div>


  </div>

</ion-content>
<ion-footer>


</ion-footer>