
$imgWidth: 300px;
$imgHeight: 240px;

.searchbar-input {
    padding: 6px 40px;
}
ion-page.modal {
  padding: 10px;
  width: $imgWidth + 20px;
  background: rgba(235, 234, 230, 0.6);
}

.houselist_modal{
    width: $imgWidth;
 .item {
    min-height: 0px;
  }  
   
 ion-card {
    position: relative;
     width: $imgWidth;
     height: $imgHeight 
  }
  
  ion-card img {
      max-height: $imgHeight;
      max-width: $imgWidth - 24px;
      min-height: $imgHeight;
      min-width: $imgWidth - 24px;
            
  }
 .house_desc{
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -moz-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -ms-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -o-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: linear-gradient(to bottom, #ebebeb, #2e2e2e);
    opacity: 0.8;
    position: absolute;
    bottom: 0%;
    width: 276px;
  }
  .card-title {
      color: #fff;
   }
  
  .card-subtitle {
    color: #fff;
    padding: 5px 5px 5px 16px;
   }
    }

.map-search {
  
  .slider-box {
    color: #7f7f7f;
  }
  .slider-label {
    *font-size: 17px;
}
  ion-label {
    margin: 0; 
    color: #7f7f7f;
  }
  
  ion-list {
    margin: -1px 0 12px 0;
}
  
  input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ff4103;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #FF4103;
  border: 1px solid #FF7221;
  height: 26px;
  width: 26px;
  border-radius: 26px;
  background: #FF4103;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff4103;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ff4103;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #FF4103;
  border: 1px solid #FF7221;
  height: 26px;
  width: 26px;
  border-radius: 26px;
  background: #FF4103;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ff4103;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #ff4103;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #FF4103;
  border: 1px solid #FF7221;
  height: 26px;
  width: 26px;
  border-radius: 26px;
  background: #FF4103;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff4103;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff4103;
}
  
  
  
  
  
  
  
  
  .item {
    min-height: 0px;
  }  
 #map {
  width: 100%;
  height: 100%;
 
}

.bar-button-default {
    padding: 0;
    min-width: 0;
    box-shadow: 0 0 0 0;
}
  
.toolbar-content {
    *flex: auto;
}
.btn-options {
 font-size: 14px; /* option button font size*/
}
 
 
.icon_map_mark4 span{
	line-height: 24px;margin-left: 0px;
    color: #0000ff;
}
.icon_map_mark4 {
  width:26px;height: 26px; 
  display:inline-block;cursor:pointer;
  text-align: center;
  font-style: normal;font-size:10px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
	background-color: #ff4103;
	*opacity: 0.8;
}

.icon_map_mark1 span{
        line-height: 17px;margin-left: 0px;
    color:  #0000ff;
}
.icon_map_mark1 {width:18px;height: 18px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        background-color: #ff4103;
}
.icon_map_mark2 span{
        line-height: 19px;margin-left: 0px;
    color:  #0000ff;
}
.icon_map_mark2 {width:20px;height: 20px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #ff4103;
}


.icon_map_mark3 span{
        line-height: 23px;margin-left: 0px;
    color:  #0000ff;
}

.icon_map_mark3 {width:24px;height: 24px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        background-color: #ff4103;
}

.swiper-container {
    height: $imgHeight;
}
.swiper-slide {
    width: $imgWidth;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-zoom {
     width: $imgWidth;
}

ion-card {
    position: relative;
     width: $imgWidth; 
}
  
ion-card img {
      height: $imgHeight - 20px;
      width: $imgWidth;
       min-height: $imgHeight - 20px;
      min-width: $imgWidth;
            
}
 .house_desc{
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -moz-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -ms-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -o-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: linear-gradient(to bottom, #ebebeb, #2e2e2e);
    opacity: 0.8;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
  .card-title {
      color: #fff;
      
}
  
  .card-subtitle {
    color: #fff;
    padding: 5px 5px 5px 16px;
}
  


} 
