<!--
  Generated template for the MapSearchPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar class="map-search">
<ion-buttons left>
    <button  (click)="openModal(selectOptions)">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
   </button>
  </ion-buttons>
  <ion-searchbar   (ionInput)="getItems($event)"
    placeholder="城市/地址/MLS#"></ion-searchbar>
  
  <ion-buttons end>
    <button (click)="setCenter(true)">
        <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content class="map-search">
  <div class="search_list" *ngIf="currentDiv == 'searchlist'">
    <ion-item padding *ngFor="let item of cityItems" (click)="itemTapped(item)">
      <button light clear> <ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }}</span></button>
      <ion-badge item-right>城市</ion-badge>
    </ion-item>
    <ion-item padding *ngFor="let item of mlsItems" (click)="itemTapped(item)">
      <button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>MLS{{item.price}}万</ion-badge>
    </ion-item>
    <ion-item padding *ngFor="let item of addressItems" (click)="itemTapped(item)">
      <button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>地址{{item.price}}万</ion-badge>
    </ion-item>
  </div>



	<div #pleaseConnect id="please-connect">
		<p>Please connect to the Internet...</p>
	</div>

  <div #map id="map"></div>


</ion-content>
<ion-footer>
<!--<div *ngIf="currentDiv == 'listButton'" style="z-index:100;opacity:0.8;">-->
<!--<div style="z-index:10;opacity:0.8;">-->
  <button fab fab-bottom fab-center (click)="openHouseList($event)">
    <ion-icon name="list" is-active="false"></ion-icon>
  </button>
<!--</div>-->
</ion-footer>