<!--
  Generated template for the MapSearchPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar class="map-search">
  
  <ion-row center >
    <ion-col width-10 no-padding>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-col>
    <ion-col width-67 no-padding>
        <ion-searchbar hideCancelButton [(ngModel)]="searchQuery" (focus)="currentDiv='searchlist'" (input)="getItems($event)" placeholder="城市/地址/MLS#"></ion-searchbar>
    </ion-col>
    <ion-col width-10 no-padding>
      <button class="bar-button-default" (click)="currentDiv= (currentDiv == 'mapoption')? '':'mapoption'">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-col>
    <ion-col width-10 no-padding>
      <button class="bar-button-default" (click)="setLocation(center,16)">
        <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
      </button>
    </ion-col>
  </ion-row>  
  
 
</ion-navbar>

<ion-content class="map-search">
  <div class="search_list" *ngIf="currentDiv == 'searchlist'" >
    <ion-item padding *ngFor="#item of cityItems" (click)="itemTapped($event, item,1)" >
      <ion-icon primary padding-right name="search"></ion-icon>{{ item.value }}
       <ion-badge item-right>城市</ion-badge>
    </ion-item>
    <ion-item padding *ngFor="#item of mlsItems" (click)="itemTapped($event, item,2)">
      <ion-icon primary padding-right name="search"></ion-icon>{{ item.value }},{{item.city}}
       <ion-badge item-right>MLS</ion-badge>
    </ion-item>
    <ion-item padding *ngFor="#item of addressItems" (click)="itemTapped($event, item,3)">
      <ion-icon primary padding-right name="search"></ion-icon>{{ item.value }},{{item.city}}
       <ion-badge item-right>地址</ion-badge>
    </ion-item>
      </div>
  <div class="map_options" *ngIf="currentDiv == 'mapoption'">
    <ion-list>
      <ion-item>
        <ion-label>物业类型</ion-label>
        <ion-select [(ngModel)]="selectType" okText="确认" cancelText="取消">
        	<ion-option value="1" >独栋</ion-option>
          <ion-option value="2">联排</ion-option>
          <ion-option value="3">公寓</ion-option>
          <ion-option value="4">双拼</ion-option>
          <ion-option value="5">度假</ion-option>
          <ion-option value="6">农场</ion-option>
          <ion-option value="7">空地</ion-option>
          <ion-option value="8">其他</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>价格(万加币)</ion-label>
        <ion-select [(ngModel)]="selectPrice" okText="确认" cancelText="取消">
            <ion-option value="0-30" > 少于30</ion-option>
            <ion-option value="30-50" >30-50万</ion-option>
            <ion-option value="50-100" >50-100万</ion-option>
            <ion-option value="100-150" >100-150万</ion-option>
            <ion-option value="150-300" >150-300万</ion-option>
            <ion-option value="300-400" >300-450万</ion-option>
            <ion-option value="450-500" >450-600万</ion-option>
            <ion-option value="600-0" > 多于600万</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>卧室</ion-label>
        <ion-select [(ngModel)]="selectBeds" okText="确认" cancelText="取消">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>洗手间</ion-label>
        <ion-select [(ngModel)]="selectBaths" okText="确认" cancelText="取消">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>房屋面积</ion-label>
        <ion-select [(ngModel)]="selectHousesize" okText="确认" cancelText="取消">
          <ion-option value="0-700" >700平方尺以下</ion-option>
          <ion-option value="700-1100">700-1100平方尺</ion-option>
          <ion-option value="1100-1500">1100-1500平方尺</ion-option>
          <ion-option value="1500-2000">1500-2000平方尺</ion-option>
          <ion-option value="2000-2500">2000-2500平方尺</ion-option>
          <ion-option value="2500-3000">2500-3000平方尺</ion-option>
          <ion-option value="3000-3500">3000-3500平方尺</ion-option>
          <ion-option value="3500-4000">3500-4000平方尺</ion-option>
          <ion-option value="4000-0">4000平方尺以上</ion-option>
        </ion-select>
      </ion-item>
   </ion-list>
      <ion-row center>
        <ion-col width-20> 
         <button clear> Beds{{selectBeds}}</button>
        </ion-col>
        <ion-col width-80>
          <input [(ngModel)]="selectBeds" class="mapleslider" label="abc" type ="range" min ="1" max="6" step ="1" value ="3"/>
        </ion-col>
      </ion-row> 
    
    <ion-row>
      <ion-col>
        <div text-center>
          <button  primary (click)="resetSelections()">
             <ion-icon name="close"></ion-icon>复位
          </button>
        </div>
      </ion-col>
      <ion-col>
         <div text-center>
        <button  primary (click)="updateOption()">
          <ion-icon name="checkmark"></ion-icon> 确认
        </button>
         </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="house_list" *ngIf="listShow()">
    <ion-slides [options]="swiperOptions" class="swiper-container">
      <ion-slide *ngFor="#house of currentHouseList" class="swiper-slide" (click)="gotoHouseDetail(house.MLS)">
        <ion-card class="house_card">
         <img [src]="imgHost + house.CoverImg" />
          <div class="house_desc" text-left text-nowrap>
          
            <ion-item>    
             <ion-badge item-left>MLS:{{house.MLS}}</ion-badge>
             <ion-badge item-right><i class="fa fa-usd" aria-hidden="true"></i>{{house.Price}}万</ion-badge>
            </ion-item>
          
             <div class="card-subtitle" text-left>
              <div><i padding-right secondary class="fa fa-building" aria-hidden="true"></i><span padding-right>{{house.HouseType}}</span>{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨</div>
              <div> <ion-icon padding-right secondary name="navigate"></ion-icon><span padding-right>{{house.Address}}</span>{{house.MunicipalityName}}</div>
              </div>
          </div>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>



  <div id="map"></div>

  <div *ngIf="currentDiv == 'listButton'">
    <button fab  primary outline fab-bottom fab-center (click)="openHouseList()">
      <ion-icon name="ios-albums" is-active="true"></ion-icon>
    </button>
  </div>


</ion-content>