
$imgWidth: 300px;
$imgHeight: 240px;

/* start Slider CSS*/
input[type=range].mapleslider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
input[type=range].mapleslider:focus {
  outline: none;
}
input[type=range].mapleslider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.7px rgba(255, 219, 178, 0.86), 0px 0px 0px rgba(255, 231, 204, 0.86);
  background: rgba(255, 65, 27, 0.47);
  border-radius: 1px;
  border: 1.1px solid #ffffff;
}
input[type=range].mapleslider::-webkit-slider-thumb {
  box-shadow: 0.6px 0.6px 0.5px #ffffff, 0px 0px 0.6px #ffffff;
  border: 2px solid #ff531a;
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #ff4103;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.1px;
}
input[type=range].mapleslider:focus::-webkit-slider-runnable-track {
  background: rgba(255, 159, 139, 0.47);
}
input[type=range].mapleslider::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.7px rgba(255, 219, 178, 0.86), 0px 0px 0px rgba(255, 231, 204, 0.86);
  background: rgba(255, 65, 27, 0.47);
  border-radius: 1px;
  border: 1.1px solid #ffffff;
}
input[type=range].mapleslider::-moz-range-thumb {
  box-shadow: 0.6px 0.6px 0.5px #ffffff, 0px 0px 0.6px #ffffff;
  border: 2px solid #ff531a;
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #ff4103;
  cursor: pointer;
}
input[type=range].mapleslider::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].mapleslider::-ms-fill-lower {
  background: rgba(170, 28, 0, 0.47);
  border: 1.1px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0px 0px 1.7px rgba(255, 219, 178, 0.86), 0px 0px 0px rgba(255, 231, 204, 0.86);
}
input[type=range].mapleslider::-ms-fill-upper {
  background: rgba(255, 65, 27, 0.47);
  border: 1.1px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0px 0px 1.7px rgba(255, 219, 178, 0.86), 0px 0px 0px rgba(255, 231, 204, 0.86);
}
input[type=range].mapleslider::-ms-thumb {
  box-shadow: 0.6px 0.6px 0.5px #ffffff, 0px 0px 0.6px #ffffff;
  border: 2px solid #ff531a;
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #ff4103;
  cursor: pointer;
  height: 4px;
}
input[type=range].mapleslider:focus::-ms-fill-lower {
  background: rgba(255, 65, 27, 0.47);
}
input[type=range].mapleslider:focus::-ms-fill-upper {
  background: rgba(255, 159, 139, 0.47);
}

/* End Slider CSS*/


ion-page.modal {
  padding: 10px;
  width: $imgWidth + 20px;
  background: rgba(235, 234, 230, 0.6);
}

.houselist_modal{
    width: $imgWidth;
 .item {
    min-height: 0px;
  }  
   
 ion-card {
    position: relative;
     width: $imgWidth;
     height: $imgHeight 
  }
  
  ion-card img {
      max-height: $imgHeight;
      max-width: $imgWidth - 24px;
      min-height: $imgHeight;
      min-width: $imgWidth - 24px;
            
  }
 .house_desc{
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -moz-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -ms-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -o-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: linear-gradient(to bottom, #ebebeb, #2e2e2e);
    opacity: 0.8;
    position: absolute;
    bottom: 0%;
    width: 276px;
  }
  .card-title {
      color: #fff;
   }
  
  .card-subtitle {
    color: #fff;
    padding: 5px 0 5px 16px;
   }
    }

.map-search {
  
 #map {
  width: 100%;
  height: 100%;
 
}

.bar-button-default {
    padding: 0;
    min-width: 0;
    box-shadow: 0 0 0 0;
}
  
.toolbar-content {
    *flex: auto;
}
.btn-options {
 font-size: 14px; /* option button font size*/
}
 
 
.icon_map_mark4 span{
	line-height: 24px;margin-left: 0px;
    color: #0000ff;
}
.icon_map_mark4 {
  width:26px;height: 26px; 
  display:inline-block;cursor:pointer;
  text-align: center;
  font-style: normal;font-size:10px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
	background-color: #ff4103;
	*opacity: 0.8;
}

.icon_map_mark1 span{
        line-height: 17px;margin-left: 0px;
    color:  #0000ff;
}
.icon_map_mark1 {width:18px;height: 18px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        background-color: #ff4103;
}
.icon_map_mark2 span{
        line-height: 19px;margin-left: 0px;
    color:  #0000ff;
}
.icon_map_mark2 {width:20px;height: 20px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #ff4103;
}


.icon_map_mark3 span{
        line-height: 23px;margin-left: 0px;
    color:  #0000ff;
}

.icon_map_mark3 {width:24px;height: 24px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        background-color: #ff4103;
}

.swiper-container {
    height: $imgHeight;
}
.swiper-slide {
    width: $imgWidth;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-zoom {
     width: $imgWidth;
}

ion-card {
    position: relative;
     width: $imgWidth; 
}
  
ion-card img {
      height: $imgHeight - 20px;
      width: $imgWidth;
       min-height: $imgHeight - 20px;
      min-width: $imgWidth;
            
}
 .house_desc{
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -moz-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -ms-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -o-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: linear-gradient(to bottom, #ebebeb, #2e2e2e);
    opacity: 0.8;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
  .card-title {
      color: #fff;
      
}
  
  .card-subtitle {
    color: #fff;
    padding: 5px 0 5px 16px;
}
  


} 
