


<ion-navbar *navbar>
   <button clear (click)="close()">
    <ion-icon name="arrow-back" ></ion-icon>
  </button>
  <ion-title>房源列表</ion-title>
</ion-navbar>


<ion-content class="map-houselist">

  <ion-card class="house_card" *ngFor="let house of currentHouseList" (click)="gotoHouseDetail(house.MLS)" >
      <img [src]="imgHost + house.CoverImg" />
      <div class="house_desc" text-left text-nowrap>
      
        <ion-item>    
          <ion-badge item-left>MLS:{{house.MLS}}</ion-badge>
          <ion-badge item-right><i class="fa fa-usd" aria-hidden="true"></i>{{house.Price}}万</ion-badge>
        </ion-item>
          <div class="card-subtitle" text-left>
          <div><i padding-horizontal secondary class="fa fa-building" aria-hidden="true"></i><span padding-right>{{house.HouseType}}</span>{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨</div>
          <div> <ion-icon padding-horizontal secondary name="navigate"></ion-icon><span padding-right>{{house.Address}}</span>{{house.MunicipalityName}}</div>
          </div>
      </div>
    
  </ion-card>
 
 <!--<ion-slides [options]="swiperOptions" class="swiper-container">
      <ion-slide *ngFor="let house of currentHouseList" class="swiper-slide" (click)="gotoHouseDetail(house.MLS)">
        <ion-card class="house_card">
         <img [src]="imgHost + house.CoverImg" />
          <div class="house_desc" text-left text-nowrap>
          
            <ion-item>    
             <ion-badge item-left>MLS:{{house.MLS}}</ion-badge>
             <ion-badge item-right><i class="fa fa-usd" aria-hidden="true"></i>{{house.Price}}万</ion-badge>
            </ion-item>
          
             <div class="card-subtitle" text-left>
              <div><i padding-right secondary class="fa fa-building" aria-hidden="true"></i><span padding-right>{{house.HouseType}}</span>{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨</div>
              <div> <ion-icon padding-right secondary name="navigate"></ion-icon><span padding-right>{{house.Address}}</span>{{house.MunicipalityName}}</div>
              </div>
          </div>
        </ion-card>
      </ion-slide>

    </ion-slides>-->

</ion-content>
 <!--<button full (click)="close()">关闭窗口</button>-->