
<ion-header>
  <ion-navbar  no-border-bottom>
    
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>枫之都</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="home">

  <!--<ion-searchbar 
    (ionInput)="hGetItems($event)" placeholder="房源搜索:城市/地址/MLS#"></ion-searchbar>

  <div class="search_list" *ngIf="currentDiv == 'hSearchlist'">
    <ion-item padding *ngFor="let item of cityItems" (click)="itemTapped(item,1)">
      <button light clear> <ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }}</span></button>
      <ion-badge item-right>城市</ion-badge>
    </ion-item>
    <ion-item padding *ngFor="let item of mlsItems" (click)="itemTapped(item,1)">
      <button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>MLS:{{item.price}}万</ion-badge>
    </ion-item>
    <ion-item padding *ngFor="let item of addressItems" (click)="itemTapped(item,1)">
      <button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>地址:{{item.price}}万</ion-badge>
    </ion-item>
  </div>-->



  <ion-slides [options]="projectSwiperOptions" class="swiper-container">
    <ion-slide *ngFor="let project of projects">
      <img [src]="project.room_type_image" (click)="goToProject(project.id)" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="project.name"></h2>

    </ion-slide>
  </ion-slides>
  <ion-toolbar [attr.primary]="isAndroid ? '' : null">
    <ion-segment [(ngModel)]="homeSegment">
      <ion-segment-button value="info">信息</ion-segment-button>
      <ion-segment-button value="house1" (ionSelect)="searchHouse('nearby')">周边</ion-segment-button>
      <ion-segment-button value="house2" (ionSelect)="searchHouse('recommend')">推荐</ion-segment-button>
      <ion-segment-button value="house3" (ionSelect)="fav()">收藏</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="homeSegment">
    <div *ngSwitchCase="'info'">
      <ion-list>
        <a ion-item *ngFor="let post of post1" (click)="goToPost(post.id)"> {{post?.title}} </a>
      </ion-list>
    </div>
    <div *ngSwitchCase="'house1'">
      <ion-list class="houselist-search">
        <ion-item *ngFor="let house of nearbyHouseList" (click)="gotoHouseDetail(house.MLS,nearbyHouseList)">
          <ion-thumbnail item-left>
            <img [src]="imgHost + house.CoverImg" />
          </ion-thumbnail>

          <h2>{{house.Address}}</h2>
          <p>{{house.HouseType}}:{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨
            <ion-badge item-right>{{house.Price}}万</ion-badge>
          </p>
          <p>{{house.MunicipalityName}},{{house.ProvinceCname}}</p>

        </ion-item>

      </ion-list>
    </div>
    <div *ngSwitchCase="'house2'">
      <ion-list class="houselist-search">
        <ion-item *ngFor="let house of nearbyHouseList" (click)="gotoHouseDetail(house.MLS,nearbyHouseList)">
          <ion-thumbnail item-left>
            <img [src]="imgHost + house.CoverImg" />
          </ion-thumbnail>

          <h2>{{house.Address}}</h2>
          <p>{{house.HouseType}}:{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨
            <ion-badge item-right>{{house.Price}}万</ion-badge>
          </p>
          <p>{{house.MunicipalityName}},{{house.ProvinceCname}}</p>

        </ion-item>

      </ion-list>
    </div>
  </div>

</ion-content>