<ion-list class="houselist-search">
  <ion-item-sliding *ngFor="let house of houselist">
    <ion-item class="house_card" (click)="gotoHouseDetail(house.MLS)">
      <ion-thumbnail item-left>
        <img [src]="imgHost + house.CoverImg" />
      </ion-thumbnail>

      <h2>{{house.Address}}</h2>
      <p>{{house.HouseType}}:{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨
        <ion-badge item-right>{{mapleConf.getPriceTxt(house.SaleLease,house.Price)}}</ion-badge>
      </p>
      <p>{{house.MunicipalityName}},{{house.ProvinceCname}}</p>

    </ion-item>
    <ion-item-options>
      <button clear (click)="userData.favWrapper(house.MLS,'houseFav')" *ngIf="!fav">
        <ion-icon name="heart"></ion-icon>
        收藏
      </button>
      <button clear (click)="remove(house.MLS)" *ngIf="fav">
        <ion-icon name="trash"></ion-icon>
        删除
      </button>
      <button clear (click)="userData.favWrapper(house.MLS,'routeFav')">
        <ion-icon name="navigate"></ion-icon>
        看房
      </button>
      <button clear (click)="nearByHouses(house.GeocodeLat,house.GeocodeLng,house,MLS)">
        <ion-icon name="locate"></ion-icon>
        附近
      </button>
      <button clear (click)="mapleConf.mapDirection(house.GeocodeLat,house.GeocodeLng)">
        <ion-icon name="locate"></ion-icon>
        地图
      </button>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>