
// .about_page{
//   .ion-icon {
//   color: color($colors, primary);
//   width: 20px;
//   }
 
// /* CSS Document */
// img{ border:0; max-width: 100%;  height: auto;  width: auto\9; /* ie8 */}

// /*枫之都介绍*/
// .fyxq{ margin-top:30px;}
// .zcwz_label{ border-bottom:4px solid #cfcfcf; margin: 5px; height: 32px;}
// .zcwz_label_left{ height:31px; margin-bottom:-4px; font-size:22px; color:#ff3700; float:left; border-bottom:4px solid #ff3700; padding-right:6px;}
// .zcwz_label_right{ float:left; color:#a9a9a9; padding-left:10px; padding-top:7px; }
// .fyxqdown {    margin-top: 5px;}


// .about_js{ color:#504D4D;}
// .about_js p{ line-height:1.8em; display:block;}
// .img_p{ text-align:center; display:block;  }
// .about_bt1{ color:#ff3700; text-align:center; display:block; font-weight:bold;}
// .about_bt2{ color:#ff5a00;  display:block;}

// /*合作伙伴*/

// .hzhb_ny{margin:0 auto; } 

// .hzhb_ny_label{ border-bottom:1px solid #999; line-height:30px;}
// .hzhb_ny_label_left{ float:left;font-size:16px;color:#a9a9a9;}
// .hzhb_ny_label_right{ float:right;  color:#a9a9a9;}
// .hzhb_ny_label_left span{ padding-right:20px; font-size:22px;color:#ff3700;}
// .hzhb_ny_cont{ padding-top:20px;}

// .hzhb_ny_down{ margin-top:40px;}

// .hzhb_ny_cont a{ display:block; float:left; margin:10px 5px;}


// /*我的优势*/
// .wdys_ny{ background:url(/img/maple/c14.jpg) right top no-repeat; background-size: cover; }
// .wdys_label{ height:30px;}
// .wdys_one{ 
	
//     /* margin-bottom: 20px; */
//     background-color: #ffffff;
//     opacity: 0.8;
//     filter: alpha(opacity=40);
//     margin: 0;
// }
// .wdys_two{ margin-bottom:20px;}
// .wdys_label span{ color:#FFF;  background:url(/img/maple/c15.jpg) no-repeat; width:55px; height:25px; text-align:center; display:block; float:left;}
// .wdys_label h2{ float:left; display:block; margin:0; padding-left:10px; font-weight:normal;}
// .wdys_cont{ padding-left:8px; line-height:1.4em; padding-top:5px; }


// /*联系我们*/
// .lxwm_ny{  padding-bottom:20px;}
// .lxwm_ny_up{ width:400px; line-height:2em; margin-bottom:30px; margin-left:40px; margin-top:30px;}
// .lxwm_ny_up_label{height:32px; line-height:32px; color:#ff4612; font-size:20px;}
// .lxwm_ny_up_label img{ float:left; margin-right:10px;}
// .lxwm_ny_cont{ color:#666; margin-top:5px; }

// /*人才招募*/


// .join_list_label{ height:37px; line-height:37px; margin:0 auto; padding-left:0px; font-size:16px;}
// .join_list_cont{ 
// 	padding-left: 8px;
//     padding-top: 0px;
//     /* padding-right: 3px; */
   
    
// }
// .join_zd{  color:#fe6000;}

// .join_list_lx{ color:#f60000;  margin:0 auto;  margin-top:30px;}




  
// }
// .about-header {
//   background-color: #434954;
//   padding: 16px;
//   width: 100%;
//   min-height: 150px;
//   text-align: center;
// }

// .about-header img {
//   max-width: 200px;
//   min-height: 115px;
//   margin-left: -15px;
//   padding: 25px 0 20px 0;
// }

// .about-info p {
//   color: #697072;
//   text-align: left;
// }

// .about-info div {
//   padding: 5px;
//   text-align: left;
//   font-size: 1.5rem;
// }

// .about-info ion-icon {
//   color: color($colors, primary);
//   width: 20px;
// }

// .ios .about-info {
//   text-align: center;
// }

// .ios .about-info div {
//   display: inline-block;
// }

// .ios .about-info ion-icon {
//   width: auto;
//   margin-right: 10px;
// }
