<ion-header>
<ion-navbar >
  <ion-title>Post</ion-title>
</ion-navbar>
</ion-header>
 
  
<ion-content padding class='post_page'>

      <div class="zcwz_label">
        <div class="zcwz_label_left">{{post?.title}}</div>
      </div>
      <div>
        <img [src]="postpicHost + post?.image" />
       </div> 
      <div class="fyxqdown">
        <div class="fyxqdown_left">
          <div class="zcwz about_js" [innerHTML]="post?.content"></div>
        </div>
      </div>
 
</ion-content>

<ion-footer>
 <div *ngIf="preButton">
    <button fab fab-bottom   fab-left (click)="go2PrePost()" style="z-index:100;opacity:0.8;">
      <ion-icon name="arrow-dropleft" is-active="true"></ion-icon>
    </button>
  </div>
  <div *ngIf="nextButton">  
     <button fab  fab-bottom fab-right (click)="go2NextPost()" style="z-index:100;opacity:0.8;">
      <ion-icon name="arrow-dropright" is-active="true"></ion-icon>
    </button>
  </div> 
</ion-footer>

 