

.house-detail {
  .swiper-pagination-bullet { opacity: 1; background: #fff; }
    .swiper-pagination-bullet-active { opacity: 1; background: #ff4103; }
    // z-index: 11;
    .swiper-container {
       // width: 100%;
        //height: auto; //66.8vw;
        min-height: 66.8vw;
        max-height: 66.8vw;
        //  min-height: 350px;
        // max-height: 350px;
        display: block;
        .swiper-wrapper {
            margin-bottom: -5px;
            //height: auto;
            min-height: 66.8vw;
           max-height: 66.8vw;
        //      min-height: 350px;
        // max-height: 350px;
            .swiper-slide {
               min-height: 66.8vw;
               max-height: 66.8vw;
            }
        }
    }


    #housemap {
        width: 100%;
        height: 100%;
    
    }
   
}

.opaque {
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}

.opaque .toolbar-background {
  background-color: rgba(#f8f8f8, 0.55);
}
