<ion-header>
	<ion-navbar no-border-bottom>


	<ion-buttons left>
		<button ion-button  (click)="nav.pop()">
			房源({{houseList.index + 1}}/{{houseList.total}})
		</button>
	</ion-buttons>

  

		<ion-buttons end>
			<button ion-button icon-only [disabled]="!houseList.prev" (click)="go2PrevHouse()">
			<ion-icon  name="arrow-up" ></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="!houseList.next" (click)="go2NextHouse()">
			<ion-icon  name="arrow-down" ></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>


		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="!platform.is('cordova')" (click)="share()">
			<ion-icon isActive="false" name="share" ></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="!isMore" (click)="more()">
			<ion-icon  name="more" ></ion-icon>
			</button>
		</ion-buttons>


	</ion-navbar>

	<ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-bottom>
		<ion-segment [(ngModel)]="section" [attr.light]="isAndroid ? '' : null">
			<ion-segment-button value="citystats" (ionSelect)="gotoCityStats()">
				社区
			</ion-segment-button>
			<ion-segment-button value="school" (ionSelect)="gotoSchool()">
				学校
			</ion-segment-button>
			<ion-segment-button value="video" [disabled]="(house.tour_url)?'false':'true'" (ionSelect)="gotoVideo()">
				视频
			</ion-segment-button>
			<ion-segment-button value="map" [disabled]="!platform.is('cordova')" (ionSelect)="mapDirection()">
				导航
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content class="house-detail">

	<ion-fab top right>
		<button ion-fab (click)="fav('houseFav')"><ion-icon name="heart" [isActive]="!isFav.houseFav"></ion-icon></button>
	</ion-fab>


	<ion-slides #photo_slider [options]="swiperOptions" class="swiper-container">
		<ion-slide *ngFor="let photo of cdn_photos">
			<img [src]="photo" class="slide-image" />

		</ion-slide>
	</ion-slides>
	<div class="fyxq_rx">服务热线：
		<img src="assets/img/maple/plat.jpg " /><a href="tel:{{rx_phone}} "><span>{{rx_phone}}</span></a>
	</div>
	<ion-card class="fyxq_cont">
		<div class="fyxq_ptss">
			<div class="fyxq_ptssleft">价格：</div>
			<div class="fyxq_ptssright"><ion-badge>{{(house.lp_dol != house.orig_dol)?"新":""}}</ion-badge>{{getPriceTxt(house.lp_dol)}}
				<span *ngIf="exchangeRate">&nbsp;（约<i>{{getPriceRMB(house.lp_dol)}}</i>万人民币）</span>
			</div>
		</div>
		<div class="fyxq_ptss">
			<div class="fyxq_ptssleft">地址：</div>
			<div class="fyxq_ptssright">{{getAddr()}}&nbsp;{{house.municipality}}</div>
		</div>
		<div class="fyxq_ptss">
			<div class="fyxq_ptssleft">{{(house.investType_id == 1)?"学区":"城市"}}：</div>
			<div class="fyxq_ptssright">{{house_mname?.municipality_cname}}

			</div>
		</div>
		<div class="fyxq_ptss">
			<div class="fyxq_ptssleft">户型：</div>
			<div class="fyxq_ptssright"><img src="assets/img/maple/1s.jpg" />&nbsp;&nbsp;{{house.br}}&nbsp;&nbsp;<img src="assets/img/maple/1t.jpg" />&nbsp;&nbsp;{{house.bath_tot}}</div>
		</div>
		<div class="fyxq_ptss">
			<div class="fyxq_ptssleft">配套：</div>
			<div class="fyxq_ptssright fyxq_ptpd">
				<div *ngIf="house.a_c.toString().toLowerCase().includes('air')">
					<span><b></b><font color="#FF3300">空调</font></span>
				</div>
				<div *ngIf="house.central_vac=='Y'">
					<span><b></b><font color="#FF3300">吸尘</font></span>
				</div>
				<div *ngIf="house.furnished=='1'">
					<span><b></b><font color="#FF3300">家具</font></span>
				</div>
				<div *ngIf="house.elevator=='Y'">
					<span><b></b><font color="#FF3300">电梯</font></span>
				</div>
				<div *ngIf="house.bsmt1_out !='None' || !house.bsmt2_out">
					<span><b></b><font color="#FF3300 ">地下室</font></span>
				</div>
				<div *ngIf="house.pool.toString().includes( 'pool') ">
					<span><b></b><font color="#FF3300 ">泳池</font></span>
				</div>
				<div *ngIf="house.fpl_num=='Y' ">
					<span><b></b><font color="#FF3300 ">壁炉</font></span>
				</div>
			</div>
		</div>
		<div class="fyxq_ptss" *ngIf="hasOpenHouse(house.oh_date1)">
			<div class="fyxq_ptssleft">开放日一：</div>
			<div class="fyxq_ptssright">{{getOpenHouse(house.oh_date1,house.oh_from1,house.oh_to1)}}</div>
		</div>
		<div class="fyxq_ptss" *ngIf="hasOpenHouse(house.oh_date2)">
			<div class="fyxq_ptssleft">开放日二：</div>
			<div class="fyxq_ptssright">{{getOpenHouse(house.oh_date2,house.oh_from2,house.oh_to2)}}</div>
		</div>
		<div class="fyxq_ptss" *ngIf="hasOpenHouse(house.oh_date3)">
			<div class="fyxq_ptssleft">开放日三：</div>
			<div class="fyxq_ptssright">{{getOpenHouse(house.oh_date3,house.oh_from3,house.oh_to3)}}</div>
		</div>
	</ion-card>

	<!--End-->
	<!--START-->
	<ion-card class="fyxqlb_cont">
		<ion-list class="xqlb_list">
			<ion-item-divider id="housedivider" divider color="primary">
				<ion-label>详情列表</ion-label>
				<ion-label class="switchF2M">{{(switchF2M == true)? F2M.feet: F2M.meter}}</ion-label>
				<ion-toggle [(ngModel)]="switchF2M"></ion-toggle>
			</ion-item-divider>
			<ion-item>
				<ion-label fixed class="xqlb_label">MLS编号：</ion-label>
				<ion-label>
					<ion-badge>{{mapleConf.getListDays(house.pix_updt)}}</ion-badge>{{house.ml_num}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">原价格：</ion-label>
				<ion-label>{{getPriceTxt(house.orig_dol)}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">交叉路口：</ion-label>
				<ion-label>{{house.cross_st}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">物业类别：</ion-label>
				<ion-label>{{house_propertyType?.name}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">挂牌时间：</ion-label>
				<ion-label>{{house.pix_updt}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">房屋层数：</ion-label>
				<ion-label>{{house.style}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">土地面积：</ion-label>
				<ion-label>{{getLandArea()}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">房屋面积：</ion-label>
				<ion-label>{{house.sqft}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">土地描述：</ion-label>
				<ion-label>{{house.acres}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">房屋数量：</ion-label>
				<ion-label>{{add2(house.rms,house.rooms_plus)}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">地税/年份：</ion-label>
				<ion-label>{{house.taxes}}/{{house.yr}} 年</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">卧房数量：</ion-label>
				<ion-label>{{add2(house.br,house.br_plus)}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">物业管理费：</ion-label>
				<ion-label>{{house.prepay}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">厨房数量：</ion-label>
				<ion-label>{{add2(house.num_kit,house.kit_plus)}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">建造年份：</ion-label>
				<ion-label>{{house.yr_built}}年</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">卫生间数量：</ion-label>
				<ion-label>{{house.bath_tot}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">地下室：</ion-label>
				<ion-label>{{house.bsmt1_out}}&nbsp;{{house.bsmt2_out}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">车库数量：</ion-label>
				<ion-label>{{house.gar_space}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">暖气：</ion-label>
				<ion-label>{{house.heating}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">大门朝向：</ion-label>
				<ion-label>{{COMP_PTS[house.comp_pts]}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">空调：</ion-label>
				<ion-label>{{house.a_c}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">邮编：</ion-label>
				<ion-label>{{house.zip}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">中央吸尘：</ion-label>
				<ion-label>{{(house.central_vac=="Y ")?"是 ":"否 "}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">游泳池：</ion-label>
				<ion-label>{{house.pool}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label fixed class="xqlb_label">出售/出租：</ion-label>
				<ion-label>{{S_R[house.s_r]}}</ion-label>
			</ion-item>
			<ion-item-divider id="housedivider" divider color="primary">房屋布局</ion-item-divider>
			<ion-item>
				<div class="fwbj_table">
					<table>
						<thead>
							<tr>
								<th width="12% ">楼层</th>
								<th width="12% ">房间</th>
								<th width="20% ">长(M)</th>
								<th width="20% ">宽(M)</th>
								<th width="17% ">面积(M2)</th>
								<th width="21% ">说明</th>
							</tr>
						</thead>
						<tbody *ngFor="let room of rooms ">
							<tr *ngIf="room.level !='' || room.out !='' ">
								<td>{{room.level}}</td>
								<td>{{room.out}}</td>
								<td>{{room.len}}</td>
								<td>{{room.wth}}</td>
								<td>{{room.area}}</td>
								<td>{{room.desc}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</ion-item>
			<ion-item-divider id="housedivider" divider color="primary">房屋周边</ion-item-divider>
			<div class="fwms_item ">{{getPropertyTxt()}}</div>
			<ion-item-divider id="housedivider" divider color="primary">房屋描述</ion-item-divider>
			<div class="fwms_item ">{{house.ad_text}}
				<BR/>
				<B>Extras:</B>
				<BR/>{{house.extras}}</div>
		</ion-list>
	</ion-card>
	<!--End-->
	<!--Map Start-->
	<div #maphouse id="maphouse"></div>
	<!--Map End-->

</ion-content>