<ion-header class="house-header" id="house-header" *ngIf="parms.list">

	<!--<ion-navbar no-border-bottom hideBackButton="true">-->

	<ion-navbar hideBackButton="true">


		<ion-buttons left>
			<button ion-button (click)="unlockPop()">返回	</button>
		</ion-buttons>
<!--
		<ion-buttons left>
			<button ion-button (click)="gotoMap()">学校</button>
		</ion-buttons>
-->
		<ion-title *ngIf="parms.list">
			房源({{houseList.index + 1}}/{{houseList.total}})
		</ion-title>



		<!--		
		<ion-buttons end>
			<button ion-button icon-only [disabled]="!houseList.prev" (click)="go2PrevHouse()">
			<ion-icon  name="arrow-up" ></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="!houseList.next" (click)="go2NextHouse()">
			<ion-icon  name="arrow-down" ></ion-icon>
			</button>
		</ion-buttons>-->

		<ion-buttons end>
			<button ion-button icon-only [disabled]="!platform.is('cordova')" (click)="share()">
			<ion-icon isActive="false" name="share" ></ion-icon>
			</button>
		</ion-buttons>

		<ion-buttons end>
			<button ion-button icon-only [disabled]="!isMore" (click)="more()">
			<ion-icon  name="more" ></ion-icon>
			</button>
		</ion-buttons>




	</ion-navbar>

</ion-header>


<!--<ion-content class="house-detail" elastic-header>-->
<ion-content class="house-detail" fullscreen="true">

	<ion-fab bottom right style="opacity:0.8;" *ngIf="parms.list">
		<button ion-fab><ion-icon name="add"></ion-icon></button>

		<ion-fab-list side="top">
			<button ion-fab *ngIf="nav.length() > 1" (click)="pop2first()"><ion-icon name="undo" ></ion-icon></button>
			<button ion-fab *ngIf="parms.list" [disabled]="!houseList.prev" (click)="go2PrevHouse()"><ion-icon name="arrow-back"></ion-icon></button>
			<button ion-fab *ngIf="parms.list" [disabled]="!houseList.next" (click)="go2NextHouse()"><ion-icon name="arrow-forward"></ion-icon></button>
			<button ion-fab *ngIf="platform.is('cordova')" (click)="share()"><ion-icon name="share"></ion-icon></button>
			<!--<button ion-fab (click)="fav('houseFav')"><ion-icon name="heart" [isActive]="!isFav.houseFav"></ion-icon></button>
			<button ion-fab *ngIf="platform.is('cordova')" (click)="mapDirection()"><ion-icon name="navigate"></ion-icon></button>-->

			<!--<button ion-fab (click)="more()"><ion-icon name="more"></ion-icon></button>-->

		</ion-fab-list>
	</ion-fab>

	<div [ngSwitch]="section">

		<div *ngSwitchDefault>
<!--		<div *ngSwitchCase="'housedetail'">-->
				<house-detail-view [houseM]="houseM" [isFav]="isFav" (swipFlag)="houseViewSwipe($event)"></house-detail-view>				<div id="housemap">
<!--				  <maple-map-search mapType="1" [center]="location" [lockMapListener]="noChangeMap" [simpleMap]="simpleMap"></maple-map-search>-->
		</div>

		</div>
		
		<div *ngSwitchCase="'citystats'">

			<house-city-stats [city]="houseM.house.municipality"></house-city-stats>

		</div>

<!--
		<div *ngSwitchCase="'school'">
			<div id="housemap">
				  <maple-map-search mapType="1" [center]="location" [lockMapListener]="lockMapListener" [simpleMap]="simpleMap"></maple-map-search>
			</div>
			<school-list [schoolList]='schoolList'></school-list>
		</div>
-->
		<div *ngSwitchCase="'similar'">
<!--			<div id="housemap">
		  <maple-map-search mapType="0" [center]="location" [lockMapListener]="lockMapListener" [simpleMap]="simpleMap"></maple-map-search>
			</div>
-->
			<house-list [houselist]='similarHouseList' isList="true"></house-list>

		</div>

	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-segment [(ngModel)]="section" [attr.light]="isAndroid ? '' : null" class="segment_css">

<!--			<ion-segment-button value="housedetail" (ionSelect)="popLock = false">
				详情
			</ion-segment-button>-->
			<!--<ion-segment-button value="citystats" (ionSelect)="gotoCityStats()">-->
			<ion-segment-button value="citystats" (ionSelect)="popLock = true">
				社区
			</ion-segment-button>
			<ion-segment-button value="housemap" (ionSelect)="gotoMap(0)">
				地图
			</ion-segment-button>
			<ion-segment-button value="schoolmap" (ionSelect)="gotoMap(1)">
				学校
			</ion-segment-button>
			<ion-segment-button value="similar" (ionSelect)="similar()">
				类似
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-footer>