<!--
  Generated template for the Search component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div>
      
    <ion-searchbar primary  [(ngModel)]="queryText"  (ionInput)="getItems($event)" (ionFocus)="searchInFocus()" 
    [placeholder]="searchPlaceHolder"></ion-searchbar>
  
    <div class="map-search" *ngIf="currentDiv == 'searchlist'">
    <ion-item tappable  padding *ngFor="let item of cityItems" (click)="itemTapped(item,1)">
      <button ion-button light clear> <ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }}</span></button>
      <ion-badge item-right>城市</ion-badge>
    </ion-item>
    <ion-item tappable  padding *ngFor="let item of mlsItems" (click)="itemTapped(item,2)">
      <button ion-button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>{{item.price}}</ion-badge>
    </ion-item>
    <ion-item tappable  padding *ngFor="let item of addressItems" (click)="itemTapped(item,2)">
      <button ion-button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }},{{item.city}}</span></button>
      <ion-badge item-right>{{item.price}}</ion-badge>
    </ion-item>
    <ion-item tappable  padding *ngFor="let item of schoolItems" (click)="itemTapped(item,1)">
      <button ion-button light clear><ion-icon primary padding-right name="search"></ion-icon><span padding-left>{{ item.value }}</span></button>
      <ion-badge item-right>排名:{{item.paiming}}</ion-badge>
    </ion-item>
  </div>
  
</div>
