<ion-list class="houselist-search" *ngIf="isList">
  <ion-item-sliding *ngFor="let house of houselist?.list">
    <ion-item tappable  class="house_card" (click)="gotoHouseDetail(house.MLS,house.vowShowFlag)">
       <ion-thumbnail item-left>
        <img *ngIf="house.vowShowFlag" [src]="house.CdnCoverImgtn" />
        <img *ngIf="!house.vowShowFlag" [src]="house.MemberOnlyImg" />
      </ion-thumbnail>

      
      <h2 *ngIf="house.vowShowFlag" text-left><ion-badge>{{mapleConf.getListDays(house.ListDate)}}</ion-badge>{{house.Address}}</h2>
      <h2 *ngIf="!house.vowShowFlag" text-left><ion-badge>{{mapleConf.getListDays(house.ListDate)}}</ion-badge>登录用户可见</h2>
      
      <p text-left *ngIf="house.vowShowFlag"><ion-badge>{{mapleConf.getPriceTxt(house.SaleLease,house.Price)}}</ion-badge>{{house.HouseType}}:{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨
      </p> 
      <!--<p text-left ><ion-badge>{{mapleConf.getPriceTxt(house.SaleLease,house.Price)}}</ion-badge>{{house.HouseType}}:{{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨
      </p> -->
      <p text-left>{{house.MLS}} {{house.MunicipalityName}},{{house.ProvinceCname}}</p>

    </ion-item>

    <ion-item-options *ngIf="house.vowShowFlag">
      <button ion-button clear (click)="userData.favWrapper(house.MLS,'houseFav')" *ngIf="!fav">
        <ion-icon name="heart"></ion-icon>
        收藏
      </button>
      <button ion-button clear (click)="remove(house.MLS)" *ngIf="fav">
        <ion-icon name="trash"></ion-icon>
        删除
      </button>
      <button ion-button clear (click)="userData.favWrapper(house.MLS,'routeFav')">
        <ion-icon name="navigate"></ion-icon>
        看房
      </button>
      <!--<button ion-button clear (click)="mapSearch(house.GeocodeLat,house.GeocodeLng)">
        <ion-icon name="locate"></ion-icon>
        附近
      </button>-->
      <button ion-button clear (click)="mapleConf.mapDirection(house.GeocodeLat,house.GeocodeLng)">
        <ion-icon name="locate"></ion-icon>
        导航
      </button>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>




<div *ngIf="!isList">


  <ion-card  class="house_card" *ngFor="let house of houselist?.list">
   
    <img tappable  *ngIf="house.vowShowFlag" [src]="house.CdnCoverImg" (click)="gotoHouseDetail(house.MLS,house.vowShowFlag)" />
    <img tappable  *ngIf="!house.vowShowFlag" [src]="house.MemberOnlyImg" (click)="gotoHouseDetail(house.MLS,house.vowShowFlag)" />
    
     <ion-item>
      <h2>MLS:{{house.MLS}}</h2>
      <ion-badge *ngIf="house.vowShowFlag"  item-right>{{mapleConf.getPriceTxt(house.SaleLease,house.Price)}}</ion-badge>
      <p *ngIf="house.vowShowFlag" >{{house.Address}},{{house.MunicipalityName}}</p>
      <p *ngIf="house.vowShowFlag" > {{house.HouseType}} {{house.Beds}}卧{{house.Baths}}卫{{house.Kitchen}}厨</p>
     
    </ion-item>

    <ion-row *ngIf="house.vowShowFlag" >
      <ion-col>
        <button ion-button color="primary" clear small (click)="userData.favWrapper(house.MLS,'houseFav')" *ngIf="!fav">
         <ion-icon name="heart" active='false'></ion-icon> <div>收藏</div>
        </button>
        <button ion-button color="primary" clear small (click)="houselist.remove(house.MLS)" *ngIf="fav">
          <ion-icon name="trash"></ion-icon><div>删除</div>
        </button>
       
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small (click)="mapleConf.mapDirection(house.GeocodeLat,house.GeocodeLng)">
          <ion-icon name="navigate"></ion-icon><div>导航</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{mapleConf.getListDays(house.ListDate)}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</div>