<!--
  Generated template for the StatsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>房源数据统计</ion-title>
  </ion-navbar>
</ion-header>
<!--<button (click)="cityStats('Toronto')">CityStats</button>-->
<ion-content class="stats">



  <ion-toolbar [attr.primary]="isAndroid ? '' : null">
    <ion-segment [(ngModel)]="section" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button value="canada">
        全国统计
      </ion-segment-button>
      <ion-segment-button value="toronto">
        大多统计
      </ion-segment-button>

      <ion-segment-button value="house">
        房源统计
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
  <div class="spacer" style="width: 284.545px; height: 17.9886px;"></div>

  <div [ngSwitch]="section">
    <div *ngSwitchWhen="'toronto'">
      <h3 text-center> 大多伦多地产历史统计</h3>
      <ion-list>
        <ion-item *ngFor="let c of gtaChartList" (click)="gtaStats(c.data,c.title)"> {{c.title}}
          <ion-icon name="stats" item-left></ion-icon>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchWhen="'house'">

      <h3 text-center> 今日房源实时统计 </h3>
      <ion-label text-center> {{date2str()}}</ion-label>
      <ion-list>
        <ion-item *ngFor="let c of mlsChartList" detail-push (click)="houseStatsColumn(c.data,c.tip,c.title)">
          <ion-icon name="stats" item-left></ion-icon>
          {{c.title}}
        </ion-item>
        <ion-item detail-push (click)="houseStatsPie('property_type','房型','房型分布饼图')">
          <ion-icon name="pie" item-left></ion-icon>
          房型分布饼图
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchWhen="'canada'">

      <ion-list>
        <h3 text-center>加拿大房屋指数(HPI)历史图表</h3>
        <ion-item *ngFor="let l of hpiChartList" detail-push (click)="hpiStats(l.location,l.title)">
          <ion-icon name="stats" item-left></ion-icon>
          {{l.title}}
        </ion-item>


      </ion-list>
    </div>
  </div>
</ion-content>