
$imgWidth: 270px;
$imgHeight: 210px;
$popupsize: 280px;



// .item {
//      padding-left: 10px;
//  }

// .searchbar-input {
//     padding: 6px 40px;
// }



.map-option-modal {
  
  // .range-s {
  //     margin-top: -12px;
  //   }
  
  // .item-inner {
  //    border-bottom: 0px;
  // }
  
   ion-label {
    margin: 0; 
    color: #7f7f7f;
  }
  
  .range-label{
    font-size: 17px;
    padding-right: 18px;
  }
  .range-p {
    padding-left: 10px;
  }
  
  ion-list {
    margin: 0;
  }
  
    
  .item {
   
    padding-left:10px;
  } 
  
  
  ion-range {
    padding: 0px 24px;
  }
}

/* CSS for House Pop up window -alert*/

.house_popup {
  ion-card {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0px;
      
  }
  
  ion-card img {
      width: 100%;
      height: 140px;
            
  }
  
 .house_desc{
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -moz-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -ms-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: -o-linear-gradient(top, #ebebeb, #2e2e2e);
    background-image: linear-gradient(to bottom, #ebebeb, #2e2e2e);
    opacity: 0.7;
    *position: absolute;
    *bottom: 0%;
    width: 100%;
  }
  .card-title {
      color: #fff;
   }
  
  .card-subtitle {
    color: #fff;
    padding: 5px 5px 5px 16px;
   }

   .alert-head {
    padding: 0;
  }

  .alert-message {
    padding: 0;
    max-height: $popupsize;
  }
}    


maple-map-search {
  
  .slider-box {
    color: #7f7f7f;
    font-size: 17px;
  }
  .slider-label {
    font-size: 17px;
    color: #7f7f7f;
  }

  

  
  
  .btn-options {
  font-size: 14px; /* option button font size*/
  }
  
  ion-label {
    margin: 0;
  }
  
  .icon_map_mark4 span{
    line-height: 24px;margin-left: 0px;
    color: #0000ff;
  }
  .icon_map_mark4 {
    width:26px;height: 26px; 
    display:inline-block;cursor:pointer;
    text-align: center;
    font-style: normal;font-size:10px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    background-color: #ff4103;
    *opacity: 0.8;
  }

  .icon_map_mark1 span{
      line-height: 24px;margin-left: 0px;
      color:  #0000ff;
  }
  .icon_map_mark1 {
    width:24px;height: 24px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background-color: #ff4103;
  }
  .icon_map_mark2 span{
      line-height: 24px;margin-left: 0px;
      color:  #0000ff;
  }
  .icon_map_mark2 {
    width:24px;height: 24px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background-color: #ff4103;
  }


  .icon_map_mark3 span{
      line-height: 23px;margin-left: 0px;
      color:  #0000ff;
  }

  .icon_map_mark3 {
    width:24px;height: 24px; display:inline-block;cursor:pointer;text-align: center;font-style: normal;font-size:10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background-color: #ff4103;
  }

  .swiper-container {
      height: $imgHeight;
  }
  .swiper-slide {
      width: $imgWidth;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }

  .swiper-zoom {
      width: $imgWidth;
  }

    ion-card {
      position: relative;
      width: $imgWidth; 
    }
    
    ion-card img {
      height: $imgHeight - 20px;
      width: $imgWidth;
      min-height: $imgHeight - 20px;
      min-width: $imgWidth;
            
    }
    .house_desc{
        background: #ebebeb;
        background-image: -webkit-linear-gradient(top, #ebebeb, #2e2e2e);
        background-image: -moz-linear-gradient(top, #ebebeb, #2e2e2e);
        background-image: -ms-linear-gradient(top, #ebebeb, #2e2e2e);
        background-image: -o-linear-gradient(top, #ebebeb, #2e2e2e);
        background-image: linear-gradient(to bottom, #ebebeb, #2e2e2e);
        opacity: 0.8;
        position: absolute;
        bottom: 0%;
        width: 100%;
      }
    
    .card-title {
        color: #fff;
        
    }
    
    .card-subtitle {
      color: #fff;
      padding: 5px 5px 5px 16px;
    }

        
        .maplemap {

                width: 100%;
                height: 100%;
        
        }
    


} 







