

<div  class="maplemap" #maplemap ></div>

	
<div style="opacity:0.9;">
  <ion-fab center bottom >
    <button ion-fab (click)="openList($event)"><ion-icon name="keypad"></ion-icon></button>
   
  </ion-fab>

  <ion-fab left bottom *ngIf="nav.length() <=1">
      <button ion-fab (click)="openModal()"><ion-icon name="options"></ion-icon></button>
  </ion-fab>

  <ion-fab right bottom *ngIf="nav.length() > 1">
      <button ion-fab  (click)="nav.pop()"><ion-icon name="undo" ></ion-icon></button>
  </ion-fab>

  <ion-fab right bottom *ngIf="nav.length() <=1">
      <button ion-fab (click)="setmapCenter(true)"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>
</div>
	